.error {
    color: red;
    font-weight: bold;
    text-align: center;
}

.background-error {
    background-color: rgb(252, 137, 117);
}


.titulo{
    background-color: rgb(197, 158, 107);
    text-align: center;
    padding: 10px;
    border: 3px solid;
}

.campo{
    text-align: center;
    width: 1200px;
    background-color: darkgray;
}

.parrafo{
    text-align: center;
}

.realizado{
    text-align: center;
    border:3px solid rgb(197, 158, 107);
    padding: 10px;
}